.navbar{
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: center; 
    background-color:#031f1f;
    height: 80px;

    
}
.navbar .logo{
    width: 215px;
    margin: 0%;
    padding: 0%;
    height: 80px;
}
.navbar-menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    color: white;
    flex-grow: 1;
    font-size: 18px;
    transition: 0.3s;
}
 
.navbar-menu li:hover{
    color: rgb(140, 173, 206);
    cursor: pointer;
    
    
}
.navbar-menu li{
    padding: 5px 18px 3px 4px;
    justify-content: left;
    text-decoration: none;
    color: inherit;

}
